<nav>
  <ul class="nav__ul nav__ul--hide">
    {{#foreach navigation}}
    <li class="nav__link{{#if current}} nav-current{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
    {{/foreach}}
    <li><a class="nav__link nav__cta" href="https://front.belloforwork.com/create-team">Get Started</a></li>
  </ul>
</nav>
